
/* ----------------------------------------------------------------

	banner.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Banner
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for banner. Thanks!
-----------------------------------------------------------------*/


.banner {
    .banner-wrapper {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }

    &#about-banner {
        position: relative;
        top: -$header-height;
        margin-bottom: -$header-height;
        padding-top: 5.375rem;
        padding-bottom: 3.75rem;
    }

    &#contact-banner {
        position: relative;
        top: -$header-height;
        margin-bottom: -$header-height;
        padding-top: 5.375rem;
        padding-bottom: 3.75rem;
    }
}