
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/

.post {
	position: relative;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;
	height: auto;

	a {
		display: block;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}

.post-content {
	position: relative;
	padding: 1.875rem 0;

}

.border-bottom {
	border-bottom: 1px dotted #dbd7e6!important;
}

.entry-title {
	margin-bottom: 1.15rem;
	font-family: $body-font;
	font-weight: 400;
	line-height: 1;

	a {
		&:hover { color: $theme-color; }
	}
}

.entry-meta {
	list-style: none;
	margin-bottom: 1.64rem;
	line-height: 1;

	i {
		margin-right: 0.75rem;
	}

	a {
		color: $theme-color;
		font-weight: 350;
	}
}

.entry-content {
	position: relative;

	p {
		margin-bottom: 1rem;
		line-height: 2;
	}
}

.entry-link {
	display: block;
	font-family: $body-font;
	font-size: $h6-font-size;
	font-weight: 600;
	line-height: 1;
	color: #b3b1d5;
}


/* ----------------------------------------------------------------
	Single Post
-----------------------------------------------------------------*/

#single-post {
	.post {
		margin-bottom: $spacer;

		.post-content {
			padding: 2.5rem 0;
			display: block;

			.entry-title {
				h1 {
					font-family: $body-font;
					font-size: 1.75rem;
					line-height: 2.5rem;
				}
			}

			.entry-meta {
				width: 100%;
				margin: 0 0 1.25rem 0;
				padding: 0;

				span {
					margin-right: 0.9375rem;
				}
			}

			.entry-categories {
				span {
					display: inline-block;
					padding: 0.375rem 0.625rem;
					vertical-align: middle;
					margin-bottom: 0.5rem;
				}
			}

			.entry-content {
				.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
					line-height: 1.4;
				}
			}
		}

		.post-thumbnail {
			@include border-radius(0.5rem);
		}
	}
}


/* ----------------------------------------------------------------
	Post Comments
-----------------------------------------------------------------*/

.comments {
	margin-top: 1.875rem;
	padding: 2.5rem 0;

	@include border-radius(0.5rem);

	.comments-title {
		font-family: $body-font;
		font-size: 1.125rem;

		span {
			color: $body-color;
			font-size: 0.875rem;
			margin-left: 0.625rem;
		}
	}

	.comments-list {
		.comment {
			.comment-body {
				display: flex;
				align-items: center;
				margin-bottom: 1.25rem;
			}

			.comment-author-avatar {
				margin-right: 0.9375rem;
				width: 4rem;
				height: 4rem;

				@include border-radius(100%);
			}

			.comment-author-name {
				color: $secondary;
				margin-right: 0.9375rem;
			}

			.comment-metadata {
				margin-right: 0.9375rem;
			}

			.comment-reply {
				.comment-reply-link {
					color: $theme-color;
					font-weight: 600;
					text-transform: uppercase;
				}
			}

			.comment-content {
				p {
					margin-bottom: 0;
				}
			}

			.children {
				margin-left: 4.9375rem;
			}
		}
	}

	.comment-respond {
		padding: 2.5rem 0;

		@include border-radius(0.5rem);

		.comment-reply-title {
			font-family: $body-font;
			font-size: 1.125rem;
		}
	}
}