
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/




//-------------------- Arrow Link --------------------//

.arrow-link {
	position: relative;
	padding-right: 1.5rem;	

	&:after {
		content: "";
		position: absolute;
		right: $spacer / 4;
		top: 50%;
		margin-top: -$spacer / 4;
		display: block;
		width: $spacer / 4;
		height: 0.8rem;
		background-image: url(../images/right-arrow-icon.png);
		background-repeat: no-repeat;
		background-size: 100%;		
		opacity: 0;
		@include transition(opacity 0.3s ease-in-out);
	}

	&:hover:after {
		opacity: 1;
	}
}

.back-btn {
	border: 1px solid $theme-color;
	padding: 0.2rem 1rem;
	width: fit-content;
	margin-left: 4.45rem;

	a {
		color: $topbar-color;
	}
	a:hover {
		color: #b2b0d5;
	}

	i {
		padding-right: 1rem;
		font-size: 0.5rem;
	}
}

.line {
	position: relative;
	margin-top: 20px;

	&.before {
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 5rem;
			border-top: 1px solid $theme-color;
			left: -6rem;
			top: 0.75rem;

			@include media-breakpoint-down(xl) {
				display: none;
			}
		}
	}

	&.after {
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 5rem;
			border-top: 1px solid $theme-color;
			right: -9rem;
			top: 0.75rem;

			@include media-breakpoint-down(xl) {
				display: none;
			}
		}
	}
}
