
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/




//-------------------- Arrow Link --------------------//

.arrow-link {
	position: relative;
	padding-right: 1.5rem;	

	&:after {
		content: "";
		position: absolute;
		right: $spacer / 4;
		top: 50%;
		margin-top: -$spacer / 4;
		display: block;
		width: $spacer / 4;
		height: 0.8rem;
		background-image: url(../images/right-arrow-icon.png);
		background-repeat: no-repeat;
		background-size: 100%;		
		opacity: 0;
		@include transition(opacity 0.3s ease-in-out);
	}

	&:hover:after {
		opacity: 1;
	}
}

.back-btn {
	border: 1px solid $theme-color;
	padding: 0.2rem 1rem;
	width: fit-content;
	margin-left: 4.45rem;

	a {
		color: $topbar-color;
	}
	a:hover {
		color: #b2b0d5;
	}

	i {
		padding-right: 1rem;
		font-size: 0.5rem;
	}
}

.line {
	position: relative;
	margin-top: 20px;

	&.before {
		&::before {
			content: '';
			position: absolute;
			display: block;
			width: 5rem;
			border-top: 1px solid $theme-color;
			left: -6rem;
			top: 0.75rem;

			@include media-breakpoint-down(xl) {
				display: none;
			}
		}
	}

	&.after {
		&::after {
			content: '';
			position: absolute;
			display: block;
			width: 5rem;
			border-top: 1px solid $theme-color;
			right: -9rem;
			top: 0.75rem;

			@include media-breakpoint-down(xl) {
				display: none;
			}
		}
	}
}

.about-content {
	p {
		font-size: 1.125rem;
	}
}

#history-section {
	img.img-wid {
		width: 90%;
		
		@include media-breakpoint-down(xl) {
			width: 100%;
		}
	}

	p {
		font-size: 1.125rem;
	}
}

.title-img {
	width: 7.59rem;
}

.contact-bg {
	background-image: url(../images/contact-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: 50%;
}

.about-bg {
	background-image: url(../images/about-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-position: 50%;
	margin-bottom: 70;
	padding-bottom: 50;
}

.product-bg {
	background-image: url(../images/product-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 0.56rem;
}

.trend {
	margin-top: 1.875rem;
	
	p {
		position: absolute;
		bottom: -0.8rem;
		left: 2.25rem;
		color: $text-color;
		font-weight: 350;
		font-size: 1.125rem;
	}
	
	img {
		width: 100%;
	}
}

.address {
	margin-bottom: 0.7rem;

	p{
		color: #606074;
	}
}

.mt-n4 {
	margin-top: -1.3rem;
}

.ads {
    // background-position: right;
    // background-repeat: no-repeat;
    // background-size: cover;
    // min-height: 16rem;
    // width: 100%;
    position: relative;
	display: block;

	.ads-bg {
		
	}

	.ads-body {
		position: absolute;
		left: 3.5rem;
		// bottom: 3rem;

		top: 50%;
		transform: translateY(-50%);

		h3 {
			color: #a19ecc;
			margin-bottom: 0.8rem;
		}

		h1 {
			font-size: 3.77rem;
			margin-bottom: 0.8rem;
		}

		p {
			font-size: 0.935rem;
		}

		a {
			p {
				font-size: 0.81rem;
			}
		}
	}
}