
/* ----------------------------------------------------------------

	header.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Header
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for header. Thanks!
-----------------------------------------------------------------*/


#header {
	position: relative;	

	// Transparent header
	&.transparent-header {
		background: transparent;
		z-index: 199;

		& + #content {
			top: -$header-height;
			margin-bottom: -$header-height;

			.page-content {
				padding-top: $header-height;
			}
		}
	}
}

#header-wrap {
	@include media-breakpoint-up(xxl) {
		margin-left: 4.625rem;
		margin-right: 4.625rem;
	}	
}

/* ----------------------------------------------------------------
	Sticky Header
-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.navbar-brand {
	margin-right: 3.125rem;

	img {		
		width: 9.375rem;
	}
}


/* ----------------------------------------------------------------
	Primary Menu
-----------------------------------------------------------------*/

#primary-menu {
	.nav-link {
		@include media-breakpoint-up(xxl) {
			line-height: 1;
		}
	}

	.nav-item {
		&.current {
			& > a {
				color: $navbar-light-active-color;
			}
		}

		.dropdown-menu {
			border: none;
			border-radius: 0;
			box-shadow: none;
			background-color: transparent;
	
			@include media-breakpoint-up(xxl) {
				background-color: $white;
				display: block;
				min-width: 14rem;
				top: -1000px;
				opacity: 0;
	
				@include box-shadow(0 8px 51px 21px rgba(169, 169, 169, 0.11));
				@include transition(transform .2s ease-out);
				@include translate3d(0, -20px, 0);
				@include border-radius(1rem);
			}
			
			.nav-item {
				a {
					border: none;
					padding: 0.75rem 1.125rem;
				}
				
				&.current,
				&:hover {
					background-color: $navbar-light-active-color;

					> a {
						color: $white;
					}
				}
			}
		}

		@include media-breakpoint-up(xxl) {
			&.dropdown:hover {
				.dropdown-menu {
					top: auto;				
					opacity: 1;
	
					@include translate3d(0, 0, 0);
				}
			}
		}
	}
}


/* ----------------------------------------------------------------
	Mega Menu
-----------------------------------------------------------------*/

// Please ignore mega menu now 


/* ----------------------------------------------------------------
	Top Buttons
-----------------------------------------------------------------*/

#top-btns {
	.nav-item {
		.nav-link {
			@include media-breakpoint-up(xxl) {
				padding: 0 0.82rem;
			}

			color: $top-btn-font-color;
			font-size: $top-btn-font-size;
			line-height: 1;

			&:hover {
				color: $theme-color;
			}

			i {
				font-size: $h3-font-size;
			}
		}
		
		.phone-number {
			font-size: 1rem;
			font-weight: 700;
			margin-right: 2rem;
			margin-top: 0.3rem;
			margin-bottom: 0;
			
			@include media-breakpoint-down(xxl) {
				margin-right: 0;
			}
		}

		span {
			font-size: 0.7rem;
		}

		.cart-count {
			color: $topbar-color;
		}
	}
}


/* ----------------------------------------------------------------
	Top Links
-----------------------------------------------------------------*/

#top-links {
	.nav-item {			
		@include media-breakpoint-up(xxl) {
			padding-right: 1.875rem;		
		}
	}

	a.nav-link {
		color: $topbar-color;
		display: block;
		font-size: 0.75rem;	
		
		@include media-breakpoint-up(xxl) {
			padding: 0;		
		}

		&:hover {
			color: $topbar-hover-color;
		}
	}

	.dropdown-toggle {
		&::after {
			margin-left: .75em;
		}
	}

	.dropdown-menu {
		background: $white;
		border: 0;
		top: $topbar-line-height;
		left: 0;
		width: 100%;		
		margin: 0;
		border-top: 3px solid $theme-color;
		@include border-radius(0);
		@include box-shadow(0 0 5px -1px rgba($black, 0.2));

		@include media-breakpoint-up(xxl) {
			width: 8.75rem;
		}

		a.dropdown-item {
			color: $headings-color;
			height: 2.25rem;
			line-height: 2.25rem;
			font-size: 0.75rem;				
			padding: 0 0.75rem;

			&:hover {
				color: $theme-color;
			}
		}

		img {
			display: inline-block;
			position: relative;
			top: -1px;
			width: 1rem;
			height: 1rem;
			margin-right: $spacer / 4;
		}
	}
}