/*-----------------------------------------------------------------------------------
	utilities.scss
-----------------------------------------------------------------------------------*/


//-------------------- Fonts --------------------//

// Font Family
.body-font { font-family: $body-font !important; }
.heading-font { font-family: $heading-font !important; }

// Font Weight
.fw-semi-bold { font-weight: 600; }
.fw-semi-light { font-weight: 350; }


//-------------------- Image --------------------//

img {
	&.img-full {
		width: 100%;
	}
}

//-------------------- Section ------------------//


.section {
	position: relative;
	padding-top: $section-spacer;
	padding-bottom: $section-spacer;
}


