
/* ----------------------------------------------------------------

	widgets.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Widgets
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for widgets. Thanks!
-----------------------------------------------------------------*/


.widget {
	position: relative;

	.widget-title {
		font-size: 0.875rem;
		font-family: $body-font;
		font-weight: 600;
		color: #bbbbca;
		letter-spacing: 0.05rem;
	}

	// Widget - Social
	&.widget-social {
		.social-icons {
			li {
				padding: 0 $spacer / 4;

				&:last-child {
					padding-right: 0;
				}

				a {
					color: #bbbbca;
					display: inline-block;
					line-height: 1.8125rem;
					width: 1.8125rem;
					height: 1.8125rem;
					vertical-align: middle;
					text-align: center;
					@include border-radius(50%);

					&:hover {
						background-color: $theme-color;
						color: $white;
						@include transition(all 0.3s ease-in-out);
					}

					i {
						vertical-align: top;
						line-height: 1.8125rem;
					}
				}
			}
		}
	}

	// Widget - Links
	&.widget-links {
		ul {
			li {
				a {
					font-weight: 600;
					text-transform: uppercase;
				}
			}
		}
	}

	// Widget - Payments
	&.widget-payment {
		.payments {
			.payment-icon {
				display: inline-block;
				vertical-align: middle;
				margin-right: $spacer / 4;
				width: 3.5rem;
				height: 2rem;
				background-color: white;
				background-size: 80% auto;
				background-repeat: no-repeat;
				background-position: center;
				margin-right: 0.56rem;

				@include border-radius(spacer / 4);

				&.visa {
					background-image: url(../images/payments/visa.svg);
				}

				&.paypal {
					background-image: url(../images/payments/paypal.svg);
				}

				&.express {
					background-image: url(../images/payments/express.svg);
				}

				&.mastercard {
					background-image: url(../images/payments/mastercard.svg);
				}
			}
		}
	}
}

.widget-content {
	.btn {
		border-width: 4px!important;
		z-index: 1000;
		padding-left: 4rem;
		padding-right: 4rem;
		margin-left: -7rem!important;
	}
}


/* Widget - Products
-----------------------------------------------------------------*/
