
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.fbox {
	position: relative;
	margin-bottom: 1.875rem;

	.fbox-icon {
		display: block;
		position: absolute;				
		left: 0;
		top: 0.375rem;
		
		img {
			display: block;
		}
	}

	h4 {
		color: $heading-color;
		font-family: $body-font;
		font-weight: 400;
		line-height: $line-height-sm;
		margin-bottom: 0;
	}

	p {
		color: $body-color;
		line-height: $line-height-base;
		margin-bottom: 0;
	}
}

