
/*-----------------------------------------------------------------------------------

	Shortcodes: icon-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Icon Box Styles
-----------------------------------------------------------------*/


.icon-box {
	display: block;
	margin-bottom: 1.5rem;

	.icon-wrapper {
		background-color: rgb(178, 176, 214);
		border-radius: 50%;
		color: rgba(240,240,240,.7);
		display: inline-block;
		line-height: 1.8125rem;
		width: 2.8125rem;
		height: 2.8125rem;
		vertical-align: middle;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		i {
			vertical-align: top;
			line-height: 1.8125rem;
		}
	}

	.icon-header {
		h4 {
			width: 9rem;
		}
	}
}