
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/


.logos {
	display: flex;
	justify-content: space-between;
	overflow-x: hidden !important;

	.logo-item {
		border-radius: 0.3125rem;
		max-width: 10.625rem;
		height: 6.25rem;
		width: 100%;		
		display: flex !important;
		align-items: center;
		justify-content: center;

		img {
			width: auto;
			height: auto;
		}
	}
} 