
/*-----------------------------------------------------------------------------------

	Shortcodes: partners.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Partners logo Styles
-----------------------------------------------------------------*/


.logos {
	// display: flex;
	// justify-content: space-between;

	.logo-item {
		// border-radius: 0.3125rem;
		max-width: 10.625rem;
		height: 6.25rem;
		width: 100%;

		img {
			width: auto;
			height: auto;
		}
	}
}